@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #22c25e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c25e;
}

@layer base {
  h1 {
    @apply text-4xl font-bold mt-8 ml-10 mb-2;
  }

  input {
    @apply mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 focus:outline-none sm:text-sm;
  }

  label {
    @apply block text-sm font-medium text-gray-700;
  }

  h2 {
    @apply text-xl font-bold mb-4;
  }

  select {
    @apply mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm;
  }

  textarea {
    @apply mt-1 block w-full py-2 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm;
  }
}
